<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>
<body>
    <h1>Dashboard html</h1>

    {% if session %}
        Welcome {{ session.userinfo.name }} <br>
        <button>
            <a href="/settings"> Go to settings page </a>
        </button>

        <br>
        {{ pretty }}
    {% else %}
    <a>Login</a>
    {% endif %}
</body>
</html>